#root {
	margin-left: auto;
	margin-right: auto;
	text-align: center;				
}
.SudokuApp p {
	text-align: center;
	font-size: 10px;
}
.SudokuApp table {
	border: 3px solid #D5EDEB;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #D5EDEB;
}
.SudokuApp td {
	border: 1px solid #D5EDEB;
	width: 50px;
	height: 50px;				
}	
.SudokuApp input {
	background-color: #1DE9B6;
	height: 50px;
	width: 50px;
	border: 0px;				
	text-align: center;
	font-size: 20px;
	margin-right: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.SudokuApp button {
	font-weight: bold;
	text-align: center;
	background-color: #0277BD;
	color: #FAFAFA;
	border:none;
	border-radius: 2px;
	margin-top: 20px;
	margin-right: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 10px;
	padding-left: 10px;
}
.SudokuApp button:disabled {
	opacity: 0.2;
}			
.SudokuApp button.clear {
	border-radius: 100px;
	color: black;
	background-color: #D32F2F;
}
.SudokuApp button.undo {
	border-radius: 100px;
	color: black;
	background-color: #FBC02D;
}			
.SudokuApp button.solve {
	background-color: #4CAF50;
}
.SudokuApp button.check {
	background-color: #03A9F4;
}
.SudokuApp .footnote{
	margin-top: 50px;
}
.SudokuApp .fixed {
	font-weight: bold;
	color: #00838F;
}
.SudokuApp .result {
	color: gray;
}
.SudokuApp .solved-appear {
	opacity: 0.01;
}			
.SudokuApp .solved-appear.solved-appear-active {
	opacity: 1;
	transition: opacity 200ms ease-in;
}	
